.comments {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    width: 75%;
    color: white;
}

input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }



.videoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.row > div {
    width: 50%;
}

.video-thumbnails {
    display: flex;
    flex-wrap: wrap;
  }
  
  .thumbnail-wrapper {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

