/* .video-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  
  .video-wrap {
    flex-basis: 60%;
    margin-right: 20px;
  }
  
  .video-wrap iframe {
    width: 100%;
    height: 100%;
  }
  
  .title-and-description {
    flex-basis: 35%;
  } */

  .video-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    flex-direction: column;
  }
  
  .video-wrap {
    flex-basis: 60%;
    margin-right: 20px;
  }
  
  .video-wrap iframe {
    width: 100%;
    height: 100%;
  }
  
  .title-and-description {
    flex-basis: 40%;
  }

  .videoPlayer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    width: 60%;
}